core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.env
.env-host
skunkmonkey/production.py
skunkmonkey*.log
.qodo
.qodo/history.sqlite
