{% extends "allauth/layouts/entrance.html" %} 
{% load i18n %}
{% load account %}
{% load allauth %}
{% load crispy_forms_tags %}


{% block head_title %}{% trans "Confirm Email Address" %}{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-white border-bottom-0 text-center">
                    <h2 class="mb-0">{% trans "Confirm Email Address" %}</h2>
                </div>
                <div class="card-body">
                    {% if confirmation %}
                        {% user_display confirmation.email_address.user as user_display %}
                        {% if can_confirm %}
                            <p class="text-center">
                                {% blocktrans with confirmation.email_address.email as email %}
                                    Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address
                                    for user {{ user_display }}.
                                {% endblocktrans %}
                            </p>

                            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                {{ redirect_field }}
                                <button type="submit" class="btn btn-primary btn-block mt-3">{% trans "Confirm" %}</button>
                            </form>
                        {% else %}

                            <p class="text-center">{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}</p>
                        {% endif %}



                    {% else %}
                        <p class="text-center">
                        {% url 'account_email' as email_url %}
                            {% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
                        </p>



                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

