{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mt-4">
                <h2>{% trans "Sign In" %}</h2>

                {% if not SOCIALACCOUNT_ONLY %}
                    <p>{% blocktranslate %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktranslate %}</p>

                    <form method="post" action="{% url 'account_login' %}" class="login"> </head> {# Add class for styling if needed #}
                        {% csrf_token %}
                        {{ form|crispy }} </head> {# Use crispy forms #}
                        {{ redirect_field }}  </head>
                        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button> </head>
                    </form>
                {% endif %}

                {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                    <hr>
                    <div class="btn-group-vertical">  </head> <div> {# Use Bootstrap button group #}
                        {% if PASSKEY_LOGIN_ENABLED %}
                            <button type="submit" form="mfa_login" id="passkey_login" class="btn btn-outline-primary">{% trans "Sign in with a passkey" %}</button> </head>
                        {% endif %}

                        {% if LOGIN_BY_CODE_ENABLED %}
                            <a href="{{ request_login_code_url }}" class="btn btn-outline-primary">{% trans "Mail me a sign-in code" %}</a> </head>
                        {% endif %}
                    </div>
                {% endif %}


                {% if SOCIALACCOUNT_ENABLED %}
                    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %} </head>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}

{% endblock %}