{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mt-4">
                <h2>{% trans "Sign Up" %}</h2>

                <p>{% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p>

                {% if not SOCIALACCOUNT_ONLY %}
                    <form class="signup" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                        {% endif %}

                        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>

                    </form>

                {% endif %}


                {% if SOCIALACCOUNT_ENABLED %}
                    {% include "socialaccount/snippets/provider_list.html" with page_layout="entrance" %}
                {% endif %}

                {% if PASSKEY_SIGNUP_ENABLED %}
                    <hr>
                    <a href="{{ signup_by_passkey_url }}" class="btn btn-outline-primary">{% trans "Sign up using a passkey" %}</a>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}
