{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}  </head>


{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="mt-4">
                    <h2 class="text-center">{% trans "Email Verification Sent" %}</h2>

                    {% if 'resent' in request.GET %}
                        <p class="text-center">
                            {% blocktrans %}A new verification email has been sent. Please check your inbox and spam folder.{% endblocktrans %}
                        </p>
                    {% else %}
                        <p class="text-center">
                            {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}