{% include "users/includes/_messages.html" %}
<div id="user-details"> {# Add ID for JavaScript targeting #}
    <dl>
        <dt>Username:</dt>
        <dd>{{ user.username }}</dd>

        <dt>Email:</dt>
        {% for email in email_addresses %}
        <dd>{{ email.email }} {% if email.verified %}<span class="badge bg-success">Verified</span>{% endif %}</dd>
        {% endfor %}
        <dt>First name:</dt>
        <dd>{{ user.first_name }}</dd>
        <dt>Last name:</dt>
        <dd>{{ user.last_name }}</dd>

        <dt>Member Since:</dt> <dd>{{ user.date_joined|date }}</dd>  </head> {# Format date as needed #}
        <dt>Last Login:</dt> <dd>{{ user.last_login|date }}</dd> {# Format date as needed #}

        {% if user.is_staff or user.is_superuser %} 
            <dt>Role(s):</dt>  {# More descriptive label #}
            <dd>
                {% if user.is_staff %}
                    <span class="badge bg-info">Staff</span>
                {% endif %}
                {% if user.is_superuser %}
                    <span class="badge bg-primary">Manager</span>
                {% endif %}
            </dd>
            <dt>Permissions:</dt>
            <dd>
                <ul>
                    {% for permission in user.user_permissions.all %}  </head>
                        <li>{{ permission.name }}</li>  </head>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
    </dl>
</div>
<div class="card mt-4">
    <h5 class="card-header">Profile Management</h5>
    <div class="card-body" id="profile-management-buttons">
        <button 
            data-url="{% url 'manage_details_update' %}" 
            id="save-user-link" 
            class="btn btn-success btn-block mb-2" 
            style="display: none;">
            Save
        </button>
        <button 
            data-url="{% url 'manage_details' %}" 
            id="cancel-edit" 
            class="btn btn-secondary btn-block mb-2" 
            style="display: none;">
            Cancel
        </button>
        <button 
            data-url="{% url 'manage_details_update' %}" 
            id="edit-user-link" 
            class="btn btn-primary btn-block mb-2">
            Edit Account
        </button>
        <div id="manage-account-actions">
            <button
                data-account-action="manage"  
                data-deactivate-url="{% url 'deactivate_account' %}"  
                data-deactivate-redirect-url="{% url 'account_inactive_message' %}"
                data-delete-url="{% url 'delete_account' %}"
                data-delete-redirect-url="{% url 'account_deleted' %}"
                id="deactivate-delete-link"
                class="btn btn-warning btn-block mb-2">
                Deactivate/Delete Account
            </button>
        
        </div>
    </div>
</div>
</div>