{# users/email.html #}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{ title }}</h2>
<form method="post" action="{% url 'manage_email' %}" class="email_change"> {# form action empty so it posts to the same page. #}
  {% csrf_token %}
  {% crispy form %}
  <button type="submit" class="btn btn-success mt-3">{% trans 'Add Email Address' %}</button>
</form>


{% if email_addresses %}
    <p>Your email addresses:</p>
    <ul class="list-group">

        {% for email in email_addresses %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span>
                    {{ email.email }}
                    {% if email.verified %}
                        <span class="badge bg-success">Verified</span>
                    {% else %}
                        <span class="badge bg-warning">Unverified</span>
                    {% endif %}
                    {% if email.primary %}
                        <span class="badge bg-primary">Primary</span>
                    {% endif %}
                </span>

                <span>
                    {% if not email.verified %}
                    <form method="post" action="{% url 'manage_email' %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="resend_email" value="{{ email.email }}">
                        <button name="resend" value="Resend" class="btn btn-info" type="submit">Resend Verification</button>
                    </form>
                    {% endif %}
                    {% if not email.primary %}
                    <form method="post" action="{% url 'manage_email' %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ email.email }}">
                        <button name="remove" value="Remove" class="btn btn-danger" type="submit">Remove</button>
                    </form>
                    {% endif %}


                </span>
            </li>
        {% endfor %}
    </ul>


{% endif %}

