{# users/social.html #}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{% trans "Social Account Connections" %}</h2>
    {% if user.socialaccount_set.all %}

        <p>{% blocktrans %}You are currently connected with the following social accounts.{% endblocktrans %}</p>
        <form method="post">
        {% csrf_token %}
        {% for account in user.socialaccount_set.all %}
            <div class="socialaccount_provider socialaccount_provider_{{account.provider}}">
              <span class="socialaccount_provider_name">{{ account.provider }}</span>

              <button type="submit" name="socialaccount_disconnect_{{account.provider}}" class="btn btn-danger">{% trans 'Disconnect' %}</button>

            </div>
        {% endfor %}
        </form>


    {% endif %}


<p>{% blocktrans %}If you would like to connect another social account, please choose one below.{% endblocktrans %}</p>

    {% include "socialaccount/snippets/provider_list.html" with process="connect" %}