{# products/templates/products/manage/category_cards_partial.html #}
{% if categories %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">  <!-- Bootstrap grid for responsive layout -->
        {% for category in categories %}
            <div class="col">  <!-- Occupies one column on all screen sizes -->
                <div class="card h-100">  <!-- Ensures cards have equal height in a row -->
                    <div class="card-body px-0 pb-0 pt-2">
                        <h4 class="card-title text-center">{{ category.name }}</h5>
                            
                        <div class="btn-group w-100 rounded-top-0"> 
                            <a href="{% url 'products:category_update' category.slug %}" class="btn btn-sm btn-secondary edit-category w-50 rounded-top-0" data-category-slug="{{ category.slug }}">Edit</a>
                            <a href="{% url 'products:category_delete' category.slug %}" class="btn btn-sm btn-danger delete-category w-50 rounded-top-0" data-category-name="{{ category.name }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
<div class="alert alert-custom" role="alert">
    <div class="text-center"><h3>No products found.</h3></div>
</div>
{% endif %}
