{% extends 'base.html' %}
{% load static %}

{% block title %}SkunkMonkey - Product Management{% endblock %}

{% block header %}
<header class="py-0 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-2">
        <img class="img-fluid rounded-circle mb-4 main-logo" style="max-width: 150px;"
            src="{{ MEDIA_URL }}skunkmonkey_logo.jpg" alt="SkunkMonkey Logo" />
        <h1 class="fs-3 fw-bolder">Product Management</h1>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a id="create-product-button" href="#" class="btn btn-primary mb-3"
                    data-create-form-url="{% url 'products:product_create_form' %}"
                    data-create-url="{% url 'products:product_create' %}"
                    data-product-management-url="{% url 'products:product_management' %}">
                    Create New Product
                </a>
            </div>

            {% include 'products/manage/product_manage_partial.html' %}

        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'bundles/js/products/products.js' %}"></script>
{% endblock %}