{# products/templates/products/manage/product_cards_only.html #}
{% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <div class="card-body px-0 pb-0 pt-2">
                <h5 class="card-title mx-2">{{ product.name }}</h5>
                <p class="card-text mx-2">
                    {{ product.description|safe|truncatechars_html:50 }}
                </p>
                <p class="card-text mx-2">
                    <strong>Category:</strong> {{ product.category }}<br>
                    <strong>Price:</strong> ${{ product.price }}<br>
                    <strong>Stock:</strong> {{ product.stock_quantity }}<br>
                    <strong>Active:</strong> {% if product.is_active %}Yes{% else %}No{% endif %}
                </p>
                <div class="card-footer btn-group w-100 rounded-top-0" role="group">
                    <a
                        class="btn btn-sm btn-secondary edit-product w-50 rounded-top-0"
                        data-product-slug="{{ product.slug }}"
                        data-url="{% url 'products:product_update' product.slug %}"
                        data-product-name="{{ product.name }}">Edit</a>
                    <a href="{% url 'products:product_delete' product.slug %}"
                        class="btn btn-sm btn-danger delete-product w-50 rounded-top-0"
                        data-product-name="{{ product.name }}"
                        data-product-slug="{{ product.slug }}"
                        onclick="return false;">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <div class="col-12">
        <div class="alert alert-custom" role="alert">
            <div class="text-center"><h3>No products found.</h3></div>
        </div>
    </div>
{% endfor %}
