{% extends 'base.html' %}
{% load static %}

{% block title %}SkunkMonkey - Product Management{% endblock %}

{% block header %}
<header class="py-0 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-2">
        <img class="img-fluid rounded-circle mb-4 main-logo" style="max-width: 150px;"
            src="{{ MEDIA_URL }}skunkmonkey_logo.jpg" alt="SkunkMonkey Logo" />
        <h1 class="fs-3 fw-bolder">Product Management</h1>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">

            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button id="product-add-button" class="btn btn-primary mb-3"
                    data-product-add-form-url="{% url 'products:product_add_form' %}"
                    data-product-add-url="{% url 'products:product_add' %}"
                    data-product-management-url="{% url 'products:product_management' %}">Add New Product
                </button>
                <button id="category-add-button" class="btn btn-success mb-3"
                    data-category-add-url="{% url 'products:category_add' %}">Add Category
                </button>
            </div>

            <div class="accordion" id="management-accordion">

                <div class="accordion-item">
                    <h2 class="accordion-header text-center" id="categories-header">
                        <button class="accordion-button collapsed bg-dark-grey text-white text-center" type="button"
                            data-bs-toggle="collapse" data-bs-target="#category-list" aria-expanded="false"
                            aria-controls="category-list">
                            Categories
                        </button>
                    </h2>
                    <div id="category-list" class="accordion-collapse collapse" aria-labelledby="categories-header"
                        data-bs-parent="#management-accordion">
                        <div class="accordion-body bg-light-grey">
                            {% include 'products/manage/category_cards_partial.html' %}
                        </div>
                    </div>
                </div>

                <div class="accordion-item mt-0">
                    <h2 class="accordion-header text-center" id="products-header">
                        <button class="accordion-button bg-dark-grey text-white text-center" type="button"
                            data-bs-toggle="collapse" data-bs-target="#product-list-section" aria-expanded="true"
                            aria-controls="product-list-section">
                            Products
                        </button>
                    </h2>
                    <div id="product-list-section" class="accordion-collapse collapse show"
                        aria-labelledby="products-header" data-bs-parent="#management-accordion">
                        <div class="accordion-body bg-light-grey">
                            {% include 'products/manage/product_cards_partial.html' %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    const getCategoryCardsUrl = "{% url 'products:get_category_cards' %}"; // Render the URL
</script>
<script src="{% static 'bundles/js/products/products.js' %}"></script>
<script src="{% static 'bundles/js/cropper_init.js' %}"></script>
{% endblock %}