{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="author" content="Hedgemonkey">
        <meta name="description" content="SkunkMonkey for all your CBD needs!" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- This meta tag helps control iframe content -->
        <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self' https://js.stripe.com">
    {% endblock %}
        <title>{% block title %}SkunkMonkey{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'bundles/css/styles.css' %}?v=2">
    {% endblock %}
    
    {% block extra_css %}
        {# Template-specific CSS files can be included here #}
    {% endblock %}
    {% block js %}
        <script src="{% static 'bundles/js/main.js' %}?v=2"></script>
    {% endblock %}
    {% block messages-js %}
    <script>
        const messages = []; // Initialize an empty array
        {% for message in messages %}
            messages.push({
                message: "{{ message|escapejs }}",
                tags: "{{ message.tags|escapejs }}"
            });
        {% endfor %}
    
        // Now you can use the 'messages' array in your JavaScript
    </script>
    {% endblock %}

</head>
<body>
    {% block navbar %}
        {% include 'includes/navbar.html' %}
    {% endblock %}
    <!-- Messages -->
    {% block messages %}
    {% endblock %}
    <!-- Header - set the background image for the header in the line below-->
    {% block header %}
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4 main-logo" style="max-width: 250px;" src="{{ MEDIA_URL }}skunkmonkey_logo.jpg" alt="SkunkMonkey Logo" />
                <h1 class="text-white fs-3 fw-bolder">Full Width Pics</h1>
                <p class="text-white-50 mb-0">Landing Page Template</p>
            </div>
        </header>
    {% endblock %}
    <!-- Content section-->
    {% block content %}
    {% endblock %}
    
    <!-- Toast container for notifications -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1050;">
        <!-- Toasts will be dynamically added here -->
    </div>
    
    <!-- Footer-->
    {% block footer %}
        <footer class="footer">
            <div class="container">
                <span class="text-muted">© 2025 SkunkMonkey</span>
            </div>
        </footer>
    {% endblock %}
    {% block postloadjs %}
    {% endblock %}
</body>
</html>
